<h3>Please enter your Patient contact information to register for Portal New System</h3>
<br>
<form method="POST" action="/patients/register">
    <% #first name %>
    <p><label for="first_name">First Name:</label>
    <input type="text" "id=first_name" name="first_name"></p>
    <% #last name %>
    <p><label for="last_name">Last Name:</label>
    <input type="text" "id=last_name" name="last_name"></p>
    <% #email %>
    <p><label for="email">Email:</label>
    <input type="text" "id=email" name="email"></p>
    <p><label for="password">Password:</label>
    <input type="text" "id=password" name="password"></p>
    <p><label for="doctor">Please Select a Doctor:</label></p>
    <% @doctors.each do |doctor| %>
        <input type="checkbox" name="doctor_id" id="<%= doctor.id %>" value="<%=doctor.id%>"> <%=doctor.first_name%> 
    <%end%>
    <br>
    <br>
    <input type="submit" value="Register">
</form>