<h3>Please enter your Patient contact information to register for Portal New System</h3>
<br>
<form method="POST" action="/docto_rs">
    <% #first name %>
    <p><label for="patient_first_name">First Name:</label>
    <input type="text" "id=patient_first_name" name="patient[first_name]"></p>
    <% #last name %>
    <p><label for="patient_last_name">Last Name:</label>
    <input type="text" "id=patient_last_name" name="patient[last_name]"></p>
    <% #email %>
    <p><label for="patient_email">Email:</label>
    <input type="text" "id=patient_email" name="patient[email]"></p>
    <input type="submit" value="Register">
</form>