<h2>Oh No! Looks like you aren't logged in or tried to sign up without an email and password. <a href="/doctors/register">Try again Here</a></h2>
<br>
<img src="https://image.freepik.com/free-vector/oops-explosion-vector_53876-17099.jpg" class="center">
