<h3>Please enter your Physician contact information to register for Portal New System</h3>
<!-- Test -->
<form method="POST" action="/docto_rs">
 
    <p><label for="doctor[first_name]">First Name:</label>
    <input type="text" "id=doctor[first_name]" name="doctor[first_name]"></p>
 
    <p><label for="doctor[last_name]">Last Name:</label>
    <input type="text" id="doctor[last_name]" name="doctor[last_name]"></p>

    <p><label for="doctor[email]">Email:</label>
    <input type="text" id="doctor[email]" name="doctor[email]"></p>

    <p><label for="doctor[password]">Password:</label>
    <input type="text" id="doctor[password]" name="doctor[password]"></p>

    <p><label for="doctor[bio]">Tell Us About Yourself:</label>
    <input type="text" id="doctor[bio]" name="doctor[bio]"></p>

    <p><label for="doctor[specialty]">Specialty:</label>
    <input type="text" id="doctor[specialty]" name="doctor[specialty]"></p>

    <p><label for="doctor[residency]">Residency:</label>
    <input type="text" id="doctor[residency]" name="doctor[residency]"></p>

    <p><label for="doctor[graduation_date]">Graduation Date:</label>
    <input type="text" id="doctor[graduation_date]" name="doctor[graduation_date]"></p>

    <input type="submit" value="Register">
</form>