<h3>Please enter your Physician contact information to register for Portal New System</h3>

<form method="POST" action="/doctors/register">
    <!-- DOCTOR FIRST NAME -->
    <p><label for="first_name">First Name:</label>
    <input type="text" "id=first_name" name="first_name"></p>

    <!-- DOCTOR LAST NAME -->
    <p><label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name"></p>

    <!-- DOCTOR EMAIL -->
    <p><label for="email">Email:</label>
    <input type="text" id="email" name="email"></p>

    <!-- DOCTOR PASSWORD -->
    <p><label for="password">Password:</label>
    <input type="text" id="password" name="password"></p>

    <!-- DOCTOR BIO -->
    <p><label for="bio">Tell Us About Yourself:</label>
    <input type="text" id="bio" name="bio"></p>

    <!-- DOCTOR SPECIALTY -->
    <p><label for="specialty">Specialty:</label>
    <input type="text" id="specialty" name="specialty"></p>

    <!-- DOCTOR RESIDENCY -->
    <p><label for="residency">Residency:</label>
    <input type="text" id="residency" name="residency"></p>

    <!-- DOCTOR GRADUATION DATE -->
    <p><label for="graduation_date">Graduation Date:</label>
    <input type="text" id="graduation_date" name="graduation_date"></p>

    <input type="submit" value="Register">
</form>