<h3>Please enter your Physician contact information to register for Portal New System</h3>
<!-- Test -->
<form method="POST" action="/doctors">
 
    <p><label for="first_name">First Name:</label>
    <input type="text" "id=first_name" name="first_name"></p>
 
    <p><label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name"></p>

    <p><label for="email">Email:</label>
    <input type="text" id="email" name="email"></p>

    <p><label for="password_digest">Password:</label>
    <input type="text" id="password_digest" name="password_digest"></p>

    <p><label for="bio">Tell Us About Yourself:</label>
    <input type="text" id="bio" name="bio"></p>

    <p><label for="specialty">Specialty:</label>
    <input type="text" id="specialty" name="specialty"></p>

    <p><label for="residency">Residency:</label>
    <input type="text" id="residency" name="residency"></p>

    <p><label for="graduation_date">Graduation Date:</label>
    <input type="text" id="graduation_date" name="graduation_date"></p>

    <input type="submit" value="Register">
</form>