<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Patients</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<h4>Hello Doctor <%=@user.first_name%>.</h4>


