<h1> Welcome to DocPortal 2000! <h1>

<h4>Physician Access</h4>
    <form method="POST" action="TBD">
    <label for="doctor_email">Email:</label>
    <input type="text" name="doctor[email]" placeholder="Ex: anita@docpoc.com">
    <label for="doctor_password">Password:</label>
    <input type="text" name="doctor[password]" placeholder="Ex: SuperTopSecret!">
    <input type="submit" value="Log In">
    </form>
    <p> <a href="/doctors/new">Not Registered? Sign-up here.</a><p>

<br>
<br>
<br>

<h4>Patient Access</h4>
    <form method="POST" action="TBD">
    <label for="patient_email">Email:</label>
    <input type="text" name="doctor[patient][][email]" placeholder="Ex: pally@hal.com">
    <label for="patient_password">Password:</label>
    <input type="text" name="doctor[patient][][password]" placeholder="Ex: SuperTopSecret!">
    <input type="submit" value="Log In">
    </form>
    <p> <a href="/patients/new">Not Registered? Sign-up here.</a><p>


    