<h1> Welcome to DocPortal 2000! <h1>

<h3>Physician Access</h3>
    <form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="doctor[email]" placeholder="Ex: anita@docpoc.com">
    <label for="doctor[password_digest]">Password:</label>
    <input type="text" name="doctor[password_digest]" placeholder="Ex: SuperTopSecret!">
    <input type="submit" value="Log In">
    </form>
    <br>
    <p>Not Registered? <a href="/doctors/new">Sign-up here.</a><p>

<hr>

<h3>Patient Access</h3>
    <form method="POST" action="/login">
    <label for="patient[email]">Email:</label>
    <input type="text" name="patient[email]" placeholder="Ex: pally@hal.com">
    <label for="patient[password]">Password:</label>
    <input type="text" name="patient[password]" placeholder="Ex: SuperTopSecret!">
    <input type="submit" value="Log In">
    </form>
    <br>
    <p>Not Registered? <a href="/patients/new"> Sign-up here.</a><p>


    